MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB_NAME=dcspace
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-secret
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_GOOGLE_DOMAIN=sdca.edu.ph
